@charset "UTF-8";

@font-face {
  font-family: "chronicledisplay";
  font-display: swap;
  src: url("../fonts/chronicledisplay-bold.woff2") format("woff2"), url("../fonts/chronicledisplay-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "chronicledisplay";
  font-display: swap;
  src: url("../fonts/chronicledisplay-semibold.woff2") format("woff2"), url("../fonts/chronicledisplay-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-account:before {
  content: "";
}

._icon-arrow:before {
  content: "";
}

._icon-instagram:before {
  content: "";
}

._icon-twitter:before {
  content: "";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gilroy";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #fff;
  font-weight: 700;
  background-color: #0b1d26;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s ease 0s;
  -o-transition: opacity 1s ease 0s;
  transition: opacity 1s ease 0s;
}

.wrapper._loaded {
  opacity: 1;
}

.wrapper._loaded .nav-page {
  -webkit-transition: -webkit-transform 0.7s ease 0.8s;
  transition: -webkit-transform 0.7s ease 0.8s;
  -o-transition: transform 0.7s ease 0.8s;
  transition: transform 0.7s ease 0.8s;
  transition: transform 0.7s ease 0.8s, -webkit-transform 0.7s ease 0.8s;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.wrapper._loaded._free .nav-page {
  height: 100%;
  margin-right: 0;
}

.wrapper._loaded._free .nav-page__container {
  height: 100%;
}

.wrapper._loaded._free .nav-page__pagination {
  opacity: 0;
  visibility: hidden;
}

.wrapper._loaded._free .nav-page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
}

.wrapper._loaded._free .section:nth-child(2) .section__body {
  padding-top: 0px;
}

.wrapper._loaded._free .section__body {
  padding: 40px 0px;
}

.wrapper._loaded._free .footer__body {
  padding: 30px 0px;
}

._max-container {
  max-width: 1780px;
  margin: 0 auto;
  padding: 0px 10px;
}

._container {
  max-width: 1502px;
  margin: 0 auto;
  padding: 0px 20px;
}

._logo {
  font-family: "chronicledisplay";
  font-weight: 700;
  font-size: 32px;
  line-height: 118.75%;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

._label-title {
  color: #fbd784;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 122.2222222222%;
  letter-spacing: 0.3333333333em;
}

._label-title::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  height: 2px;
  background-color: #fbd784;
}

.nav-page {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 200;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  pointer-events: none;
}

.nav-page__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  gap: 32px;
}

.nav-page__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-page__bullet {
  cursor: pointer;
  opacity: 0.3;
  pointer-events: all;
  font-size: 18px;
}

.nav-page__bullet:not(:last-child) {
  margin-bottom: 40px;
}

.nav-page__scroll {
  height: 100%;
  width: 3px;
  cursor: col-resize;
  pointer-events: all;
  background-color: rgba(255, 255, 255, 0.5);
}

.nav-page__drag-scroll {
  background-color: #fff;
  pointer-events: all;
}

._text {
  font-size: 18px;
  line-height: 177.7777777778%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._swiper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

._swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  padding-bottom: 20px;
}

.header__container {
  margin-top: 64px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  padding: 0px 3px 0px 0px;
}

.header__account {
  color: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
  grid-template-columns: repeat(2, auto);
  padding: 0px 0px 0px 3px;
  gap: 10px;
  font-size: 18px;
}

.header__account::before {
  font-size: 20px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px 5px;
}

.menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__link {
  color: inherit;
  font-size: 18px;
}

.fullscreen__body {
  height: 100%;
  width: 100%;
}

.fullscreen__container {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.fullscreen__content {
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

.fullscreen__content-body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 1fr;
  grid-template-columns: auto 1fr 1fr;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.fullscreen__main {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.left-fullscreen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-fullscreen__link {
  color: inherit;
  display: inline-block;
}

.left-fullscreen__link:not(:last-child) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-fullscreen__label::before {
  margin-right: 32px;
}

.main-fullscreen__title {
  font-family: "chronicledisplay";
  font-size: 88px;
  line-height: 113.6363636364%;
  padding-bottom: 32px;
  padding-top: 32px;
}

.scroll-down {
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-down__text {
  margin-right: 15px;
}

.scroll-down__icon {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.scroll-down__icon::before {
  font-size: 20px;
}

.images-fullscreen__human,
.images-fullscreen__mountains,
.images-fullscreen__clouds,
.images-fullscreen__item,
.images-fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.images-fullscreen {
  overflow: hidden;
  top: 0;
  pointer-events: none;
}

.images-fullscreen__item {
  top: 0;
}

._no-webp .images-fullscreen__clouds{
  background: url(../img/clouds.jpg) top/cover repeat; }

._no-webp .images-fullscreen__mountains{
  background: url(../img/mountains.png) top/cover no-repeat; }

.images-fullscreen__mountains {
  top: 15%;
}

._no-webp .images-fullscreen__human{
  background: url(../img/human.png) top/cover no-repeat; }

.images-fullscreen__human {
  top: 50%;
}

.section {
  position: relative;
}

.section:nth-child(odd) .section__content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.section:nth-child(odd) .section__image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.section:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(200px + 500 * ((100vw - 320px) / 1600));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, rgba(11, 29, 38, 0)), to(#0b1d26));
  background: -o-linear-gradient(top, rgba(11, 29, 38, 0) 5%, #0b1d26 100%);
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 5%, #0b1d26 100%);
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  pointer-events: none;
}

.section__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__content {
  position: relative;
}

.section__num {
  position: absolute;
  font-size: 230px;
  opacity: 0.1;
  top: 0;
  pointer-events: none;
  display: inline-block;
}

.section__label::before {
  margin-right: 24px;
}

.section__title {
  font-family: "chronicledisplay";
  font-weight: 600;
  font-size: 64px;
  line-height: 120.3125%;
  margin: 0.421875em 0px;
}

.section__text {
  margin: 0px 0px 1.5em 0px;
}

.section__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fbd784;
}

.section__more-text {
  font-size: 18px;
  line-height: 122.2222222222%;
  margin: 0px 0.8888888889em 0px 0px;
}

.section__more-icon {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  font-size: 18px;
  -webkit-transform: translate(0px, 12.5%);
      -ms-transform: translate(0px, 12.5%);
          transform: translate(0px, 12.5%);
}

.section__image {
  padding: 0px 0px 49.248% 0px;
}

.section__image_b img {
  -o-object-position: 0% 90%;
     object-position: 0% 90%;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-footer__logo {
  margin: 0px 0px 0.75em 0px;
}

.main-footer__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-footer__footer {
  opacity: 0.5;
}

.columns-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.columns-footer__column {
  overflow: hidden;
}

.columns-footer__title {
  color: #fbd784;
  font-size: 24px;
  line-height: 133.3333333333%;
  margin: 0px 0px 1em 0px;
}

.columns-footer__list li:not(:last-child) {
  margin: 0px 0px 0.5625em 0px;
}

.columns-footer__list li a {
  color: inherit;
  font-weight: 500;
}

.page__screen {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.page__content {
  overflow: hidden;
}

@media (min-width: 479.98px) {
  .header__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 767.98px) {
  .section__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 114px;
  }

  .section__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60.1648351648%;
            flex: 0 1 60.1648351648%;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 150px;
  }

  .section__num {
    left: 0;
  }

  .section__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 38.8736263736%;
            flex: 0 1 38.8736263736%;
  }

  .footer__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .main-footer__text {
    margin: 0px 0px 15px 0px;
  }

  .columns-footer__column:not(:last-child) {
    margin-right: 212px;
  }
}

@media (max-width: 1792px) and (min-aspect-ratio: 18/10) {
  .section__image {
    padding: 0px 0px 40% 0px;
  }
}

@media (max-width: 1780px) {
  ._logo {
    font-size: calc(20px + 12 * ((100vw - 320px) / 1460));
  }

  ._label-title {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1460));
  }

  ._label-title::before {
    -ms-flex-preferred-size: calc(25px + 45 * ((100vw - 320px) / 1460));
        flex-basis: calc(25px + 45 * ((100vw - 320px) / 1460));
  }

  .nav-page__container {
    gap: calc(10px + 22 * ((100vw - 320px) / 1460));
  }

  .nav-page__pagination {
    padding-top: calc(12px + 8 * ((100vw - 320px) / 1460));
  }

  .nav-page__pagination {
    padding-bottom: calc(12px + 8 * ((100vw - 320px) / 1460));
  }

  .nav-page__bullet {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1460));
  }

  .nav-page__bullet:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1460));
  }

  ._text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1460));
  }

  .header__container {
    margin-top: calc(35px + 29 * ((100vw - 320px) / 1460));
  }

  .header__account {
    gap: calc(6px + 4 * ((100vw - 320px) / 1460));
  }

  .header__account {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1460));
  }

  .header__account::before {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1460));
  }

  .menu__item:not(:last-child) {
    margin-right: calc(10px + 30 * ((100vw - 320px) / 1460));
  }

  .menu__link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1460));
  }

  .fullscreen__content {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 1460));
  }

  .left-fullscreen__link:not(:last-child) {
    margin-top: calc(10px + 20 * ((100vw - 320px) / 1460));
  }

  .left-fullscreen__link:not(:last-child) {
    margin-bottom: calc(10px + 20 * ((100vw - 320px) / 1460));
  }

  .main-fullscreen__label::before {
    margin-right: calc(10px + 22 * ((100vw - 320px) / 1460));
  }

  .main-fullscreen__title {
    font-size: calc(30px + 58 * ((100vw - 320px) / 1460));
  }

  .main-fullscreen__title {
    padding-bottom: calc(15px + 17 * ((100vw - 320px) / 1460));
  }

  .main-fullscreen__title {
    padding-top: calc(15px + 17 * ((100vw - 320px) / 1460));
  }

  .scroll-down__text {
    margin-right: calc(8px + 7 * ((100vw - 320px) / 1460));
  }

  .scroll-down__icon::before {
    font-size: calc(15px + 5 * ((100vw - 320px) / 1460));
  }

  .section__num {
    font-size: calc(100px + 130 * ((100vw - 320px) / 1460));
  }

  .section__label::before {
    margin-right: calc(16px + 8 * ((100vw - 320px) / 1460));
  }

  .section__title {
    font-size: calc(25px + 39 * ((100vw - 320px) / 1460));
  }

  .section__more-text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1460));
  }

  .section__more-icon {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1460));
  }

  .columns-footer__title {
    font-size: calc(18px + 6 * ((100vw - 320px) / 1460));
  }
}

@media (max-width: 767.98px) {
  .nav-page {
    margin-right: -10px;
  }

  .section__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .section__num {
    right: 0;
  }

  .section__image {
    margin: 0px -20px 20px -20px;
  }

  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__main {
    margin: 0px 0px 30px 0px;
  }

  .columns-footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px 0px 30px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .columns-footer__column:not(:last-child) {
    margin: 0px 15px 0px 0px;
  }
}

@media (max-width: 479.98px) {
  .header__account {
    display: none;
  }
}

@media (min-width: 767.98px) and (max-width: 1780px) {
  .section__body {
    gap: calc(0px + 114 * ((100vw - 320px) / 1460));
  }

  .section__content {
    padding-top: calc(40px + 100 * ((100vw - 320px) / 1460));
  }

  .section__content {
    padding-bottom: calc(40px + 100 * ((100vw - 320px) / 1460));
  }

  .section__content {
    padding-left: calc(50px + 100 * ((100vw - 320px) / 1460));
  }

  .columns-footer__column:not(:last-child) {
    margin-right: calc(0px + 212 * ((100vw - 320px) / 1460));
  }
}

@media (any-hover: hover) {
  .nav-page__bullet {
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }

  .nav-page__bullet:hover {
    opacity: 1;
  }

  .header__account {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .header__account:hover {
    color: #948d8d;
  }

  .menu__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .menu__link:hover {
    color: #948d8d;
  }

  .left-fullscreen__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .left-fullscreen__link._icon-twitter:hover {
    color: #00acee;
  }

  .scroll-down {
    -webkit-animation: topdown 1s ease-in-out 0s infinite alternate;
            animation: topdown 1s ease-in-out 0s infinite alternate;
  }

@-webkit-keyframes topdown {
    0% {
      -webkit-transform: translate(0px, -10px);
              transform: translate(0px, -10px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
}

@keyframes topdown {
    0% {
      -webkit-transform: translate(0px, -10px);
              transform: translate(0px, -10px);
    }

    100% {
      -webkit-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }
}

  .scroll-down:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }

  .section__more:hover .section__more-icon {
    -webkit-transform: translate(20%, 12.5%);
        -ms-transform: translate(20%, 12.5%);
            transform: translate(20%, 12.5%);
  }

  .columns-footer__list li a {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .columns-footer__list li a:hover {
    color: #636060;
  }
}

@media (any-hover: hover) and (any-hover: hover) {
  .left-fullscreen__link._icon-instagram:hover {
    color: purple;
  }
}

@media (max-aspect-ratio: 3/2) {
  .images-fullscreen__human {
    background-position: 20% top;
    top: 60%;
  }
}

._webp .images-fullscreen__clouds{ background: url(../img/clouds.webp) top/cover repeat; }

._webp .images-fullscreen__mountains{ background: url(../img/mountains.webp) top/cover no-repeat; }

._webp .images-fullscreen__human{ background: url(../img/human.webp) top/cover no-repeat; }